DiGit/Configuration/Configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DiGitConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Repositories" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Repository" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="path" type="xs:string" use="required" />
                      <xs:attribute name="isActive" type="xs:boolean" use="optional" default="true" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Settings" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ShowHideHotkey" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="modifiers" type="xs:string" use="required" />
                  <xs:attribute name="key" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="VisualSettings" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="_bubblesOpacity" type="xs:double" use="optional" default="0.83"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Commands" type="xs:string"  maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="ver" type="xs:string" use="required" />
      <xs:attribute name="isBetaUser" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>