DiGit/Configuration/Schema/Configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DiGitConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Repositories" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Repository" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="path" type="xs:string" use="required" />
                  <xs:attribute name="isActive" type="xs:boolean" use="optional" default="true" />
                  <xs:attribute name="left" type="xs:double" use="optional" default="-1000" />
                  <xs:attribute name="top" type="xs:double" use="optional" default="-1000"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Settings" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ShowHideHotkey" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="modifiers" type="xs:string" use="required" />
                  <xs:attribute name="key" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="VisualSettings" maxOccurs="0" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="_bubblesOpacity" type="xs:double" use="optional" default="0.83"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Bubbles" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="_opacity" type="xs:double" use="optional" default="0.83"/>
                  <xs:attribute name="_positionAnchor" type="xs:string" use="optional" default="Right"/>
                  <xs:attribute name="firstSpacing" type="xs:double" use="optional" default="140"/>
                  <xs:attribute name="spacing" type="xs:double" use="optional" default="40"/>
                  <xs:attribute name="autoArrange" type="xs:boolean" use="optional" default="true" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Commands">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Command">
                <xs:complexType>
                  <xs:attribute name="header" type="xs:string" use="required" />
                  <xs:attribute name="fileName" type="xs:string" use="required" />
                  <xs:attribute name="arguments" type="xs:string" use="optional" />
                  <xs:attribute name="windowStyle" type="xs:string" use="optional" />
                  <xs:attribute name="options" type="xs:string" use="optional" />
                  <xs:attribute name="helpText" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Folders">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Folder">
                <xs:complexType>
                  <xs:attribute name="path" type="xs:string" use="required" />
                  <xs:attribute name="isFavorite" type="xs:boolean" use="optional" default="false" />
                  <xs:attribute name="lastUsage" type="xs:dateTime" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ver" type="xs:string" use="required" />
      <xs:attribute name="isBetaUser" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>